# Confilcts.
*.orig

# MSVS files.
*.filters

# Eclipse project files.
.settings
.project
.cproject
.pydevproject

# Core dumps.
core.*
vgcore.*

# Build directories, e.g. build.debug and build.relese
/build*/

# Old test directory. New tests should be added to /tests/ and be runnable by CTest.
/test/

#Temp files.
*~
